<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加商品分类</title>
    {% include "./header.html" %}
</head>

<body>
    <form role="form" method="post">
        <div class="box-body">
            <div class="form-group">
                <label for="name">分类名称</label>
                <input class="form-control" id="name" name="name" placeholder="请输入分类名称">
                <label for="remark">备注</label>
                <input class="form-control" id="remark" name="remark" placeholder="请输入备注">
                <label for="parent">父类</label>
                <input class="form-control" id="parent" name="parent" placeholder="请输入父类ID">
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary button">确认提交</button>
        </div>
    </form>
    {% include "./footer.html" %}
</body>

<script>
    $(function () {
        $(".button").click(function () {
            var name=$("#name").val();
            var front_name=$("#remark").val();
            var parent_id=$('#parent').val();
            $.ajax({
                type: 'post',
                url: '/admin/category/store',
                data:{"name":name,"front_name":front_name,"parent_id":parent_id},
                success: function (data) {
                        alert("添加成功");
                        window.location.href="/admin/category/index"
                },
                error:function (err) {
                    alert("error"+err.data);
                }
            });

        });

    })

</script>

</html>
