<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
{% include "./header.html" %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">
              <!-- Logo -->
              <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">Plus</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">后台管理系统</span>
              </a>
              <!-- Header Navbar -->
              <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                      <!-- Menu Toggle Button -->
                      <a href="/admin/login/logout" class="dropdown-toggle">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{userinfo.username}} 注销</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
              <li class="treeview">
                  <a href="#"><i class="fa fa-book"></i> <span>商品分类</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/category/index" class="fa fa-circle-o" target="menuFrame">分类列表</a></li>
                    <li><a href="/admin/category/add"  class="fa fa-circle-o"target="menuFrame">添加分类</a></li>
                  </ul>
                </li>
            <li class="treeview">
              <a href="#"><i class="fa fa-list"></i> <span>商品列表</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/goods/index" class="fa fa-circle-o" target="menuFrame">商品列表</a></li>
                <li><a href="/admin/goods/add" class="fa fa-circle-o" target="menuFrame">添加商品</a></li>
              </ul>
            </li>
						<li class="treeview">
              <a href="#"><i class="fa fa-list"></i> <span>订单详情</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/order/now" class="fa fa-circle-o" target="menuFrame">未完成订单</a></li>
                <li><a href="/admin/order/all" class="fa fa-circle-o" target="menuFrame">全部订单</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <div class="content-wrapper">

        <section class="content container-fluid">
            <iframe id="menuFrame" name="menuFrame" src="/admin/index/welcome.html" style="overflow:visible;" scrolling="true" frameborder="no" height="100%" width="100%" ></iframe>
        </section>
      </div>




    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    {% include "./footer.html" %}
    <script>
      $(function(){
        $("#menuFrame").height($(window).height()-75);
      })
    </script>
    </body>
</html>
